<ion-content class="page_signin">

  <div class="blue-background">

    <ion-label class="lbl_header">Forgot Password</ion-label>

    <div class="div-logo">
    <ion-img src="../../assets/icon/icon.png" class="img_logo"></ion-img>
    </div>

  </div>

  <div class="div-card">

    <ion-card>

      <ion-label class="lbl_head">Enter your registered email address.</ion-label>

  <form [formGroup]="forgot_form" autocomplete="off">

    <ion-item lines="none" class="input-item add space">
      <ion-icon name="mail"></ion-icon>
      <!-- <ion-label position="stacked" class="input-lbl">Email / Mobile</ion-label> -->
      <ion-input type="text"  formControlName="email" placeholder="Email address" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error error-spc"
      *ngIf="forgot_form.controls.email.hasError('required') && forgot_form.controls.email.touched">
      <p class="content add-error">Please Enter Email address!</p>
    </ion-item>

  </form>

</ion-card>



<div class="btn-bottom">
<ion-button expand="full" size="large" shape="round" (click)="forgot()">SUBMIT</ion-button>
<ion-label class="lbl-new" (click)="back()">Back</ion-label>
</div>

</div>

</ion-content>