<ion-header mode="md">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon size="large" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" color="light">
      My Profile
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="submit()">
        <ion-icon size="large" name="checkmark-sharp" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="profile_form" autocomplete="off">

    <div class="blue-background">

      <div class="div-logo">
        <!-- <img src="../../assets/images/placeholders.png" class="img_logo" /> -->
        <img *ngIf="!select_product_image" src="{{user_not_found_place_holder}}"  class="img_logo"/>
        <img *ngIf="select_product_image"
          src="{{mediaUrl_image ? select_product_image : select_product_image}}"  class="img_logo"/>
          
          
      </div>

    </div>

    <!-- <div class="blue-background">
    <img *ngIf="!select_product_image" src="{{user_not_found_place_holder}}" class="format-img" />
    <img *ngIf="select_product_image"
      src="{{mediaUrl_image ? select_product_image : imageUrl + select_product_image}}" class="format-img" />
  </div> -->

    <div class="btn-img">
      <ion-button fill="clear" expand="full" class="btn">Profile Picture</ion-button>
      <input class="btn-choose" type="file" formControlName="image" (change)="imageUpload($event)" accept="image/*" />
    </div>
    <ion-item no-padding lines="none" class="validator-error error-spc"
      *ngIf="profile_form.controls.image.hasError('required') && profile_form.controls.image.touched">
      <p class="content">Please Select Image!</p>
    </ion-item>


    <!-- <ion-label class="lbl_user">Username</ion-label> -->

    <ion-item lines="none" class="input-item add space top">
      <ion-icon name="person"></ion-icon>
      <ion-input type="text" formControlName="username" placeholder="Username" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error error-spc"
      *ngIf="profile_form.controls.username.hasError('required') && profile_form.controls.username.touched">
      <p class="content add-error">Please Enter Username!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add space">
      <ion-icon name="mail"></ion-icon>
      <ion-input type="text" formControlName="email" placeholder="Email address" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error error-spc"
      *ngIf="profile_form.controls.email.hasError('required') && profile_form.controls.email.touched">
      <p class="content add-error">Please Enter Email address!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add space">
      <ion-icon name="call"></ion-icon>
      <ion-input type="text" formControlName="phone_number" placeholder="Phone number" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error error-spc"
      *ngIf="profile_form.controls.phone_number.hasError('required') && profile_form.controls.phone_number.touched">
      <p class="content add-error">Please Enter Phone number!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add space">
      <ion-icon name="business"></ion-icon>
      <ion-input type="text" formControlName="address" placeholder="Address" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error error-spc"
      *ngIf="profile_form.controls.address.hasError('required') && profile_form.controls.address.touched">
      <p class="content add-error">Please Enter Address!</p>
    </ion-item>

    <!-- <ion-item lines="none" class="item-dropdown add">
    <ion-icon name=""></ion-icon>
    <ion-select interface="action-sheet" formControlName="country" placeholder="Country"
      class="btn-select bg" mode="md">
      <ion-select-option>India</ion-select-option>
      <ion-select-option>USA</ion-select-option>
      <ion-select-option>UAE</ion-select-option>
    </ion-select>
  </ion-item> -->

    <ion-item lines="none" class="input-item add space">
      <ion-icon name="earth"></ion-icon>
      <ion-input type="text" formControlName="country" placeholder="Country" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error error-spc"
      *ngIf="profile_form.controls.country.hasError('required') && profile_form.controls.country.touched">
      <p class="content add-error">Please Enter Country!</p>
    </ion-item>

    <!-- <ion-item lines="none" class="item-dropdown add">
    <ion-icon name=""></ion-icon>
    <ion-select interface="action-sheet" formControlName="state" placeholder="State"
      class="btn-select bg" mode="md">
      <ion-select-option>Option 1</ion-select-option>
      <ion-select-option>Option 2</ion-select-option>
      <ion-select-option>Option 3</ion-select-option>
    </ion-select>
  </ion-item> -->

    <ion-item lines="none" class="input-item add space">
      <ion-icon name="location"></ion-icon>
      <ion-input type="text" formControlName="state" placeholder="State" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error error-spc"
      *ngIf="profile_form.controls.state.hasError('required') && profile_form.controls.state.touched">
      <p class="content add-error">Please Enter State!</p>
    </ion-item>

    <!-- <ion-item lines="none" class="item-dropdown add">
    <ion-icon name=""></ion-icon>
    <ion-select interface="action-sheet" formControlName="city" placeholder="City"
      class="btn-select bg" mode="md">
      <ion-select-option>Option 1</ion-select-option>
      <ion-select-option>Option 2</ion-select-option>
      <ion-select-option>Option 3</ion-select-option>
    </ion-select>
  </ion-item> -->

    <ion-item lines="none" class="input-item add space">
      <ion-icon name="home"></ion-icon>
      <ion-input type="text" formControlName="city" placeholder="City" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error error-spc"
      *ngIf="profile_form.controls.city.hasError('required') && profile_form.controls.city.touched">
      <p class="content add-error">Please Enter City!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add space">
      <ion-icon name="pin"></ion-icon>
      <ion-input type="text" formControlName="postal_code" placeholder="Postal code" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error error-spc"
      *ngIf="profile_form.controls.postal_code.hasError('required') && profile_form.controls.postal_code.touched">
      <p class="content add-error">Please Enter Postal code!</p>
    </ion-item>

  </form>

</ion-content>