<ion-header mode="md">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon size="large" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" color="light">
      Receipt Preview
    </ion-title>
      <!-- <ion-buttons slot="end">
        <ion-button (click)="shareActionSheet()">
          <ion-icon size="large" name="share-social" color="light"></ion-icon>
        </ion-button>
      </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="div_rec_img">

    <img src="../../assets/images/receipt.jpg"/>

  </div>

</ion-content>
