ion-content{
    --padding-bottom: 16px;
    --padding-end: 16px;
    --padding-start: 16px;
    --padding-top: 16px;

    .div_rec_img{
        padding: 8px;
        border: 2px solid #ccc;
        height: 100%;

        img{
            height: 100%;
        }
    }
}